#cardsContainer{
	width: 1024px;
	margin-left: auto;
	margin-right:auto;
}
.card{
	width: 200px;
	height: 278px;
	float: left;
}
img.cardImage{
	width: 200px;
	height: 278px;
	z-index: 2;
}
img.animation{
	position: relative;
	z-index: 1;
	width: 150px;
	top: -200px;
	left: 25px;
	display: none;
}
img.loadingAnimation{
	position: relative;
	z-index: 1;
	width: 150px;
	top: -250px;
	left: 25px;
	display: none;
}
